# duels gitignore
# avoid sharing actual game code, only templates

# build artefacts
build/
CMakeLists*.user*
bin/*

# except core ones
!bin/manager.py
!bin/gen_wrapper.py
!bin/duels.py
!bin/create_package.py
!bin/elo.py

# game server includes
include/
# except core ones
!include/duels/algo
!include/duels/utils
!include/duels/*.h

# game client templates - will be shipped in deb package if needed
games/

# deb artefacts
deb/
